<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- 头部导航栏 -->
<div style="height:44px;position:relative;" th:fragment="topbar">
    #272B30
    <nav style="position:fixed;width: 100%;" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
<!--        <a style="color: white; font-size: 20px; padding-top: 3px; text-align: center; width: 15%; height: 40px;">[[${session.loginUser}]]</a>-->
        <a style="color: white; font-size: 20px; padding-top: 3px; margin-left: 20px; height: 40px;">大学生课堂学习行为投入度分析系统</a>
        <!-- class="navbar-brand col-sm-3 col-md-2 mr-0" -->
        <!--    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
        <ul class="navbar-nav px-3" sec:authorize="!isAuthenticated()">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/login}">登录</a>
            </li>
        </ul>
        <ul class="navbar-nav px-3" sec:authorize="isAuthenticated()">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/logout}">注销</a>
            </li>
        </ul>
    </nav>
</div>

<!-- 侧边栏 -->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="width: 18%;" th:fragment="siderbar">
    <div class="sidebar-sticky" style="margin-top:50px;">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a th:class="${active=='index.html'?'nav-link active':'nav-link'}" th:href="@{/index}">
                    <img src="/asserts/img/home.png" width="20" height="20">
                    首页 <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${active=='video.html'?'nav-link active':'nav-link'}" th:href="@{/video}">
                   <img src="/asserts/img/data.png" width="20" height="20">
                    数据管理
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${active=='user.html'?'nav-link active':'nav-link'}" th:href="@{/user/0}">
                    <img src="/asserts/img/user.png" width="20" height="20">
                    用户管理
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${active=='computation.html'?'nav-link active':'nav-link'}" th:href="@{/computation}">
                    <img src="/asserts/img/computation.png" width="20" height="20">
                    算法与计算
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${active=='visual.html'?'nav-link active':'nav-link'}" th:href="@{/visual}">
                    <img src="/asserts/img/visual.png" width="20" height="20">
                    数据可视化
                </a>
            </li>
        </ul>
    </div>
</nav>

</html>