<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>添加用户</title>
    <!-- Bootstrap core CSS -->
    <link href="/asserts/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/asserts/css/dashboard.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <style type="text/css">
        /* Chart.js */

        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
</head>

<body>

<!-- 顶部导航栏 -->
<div th:insert="~{commons/commons.html::topbar}"></div>

<div class="container-fluid">
    <div class="row">

        <!-- 侧边栏，代码复用（复用commons/commons.html里的） -->
        <div th:insert="~{commons/commons.html::siderbar(active='user.html')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <form th:action="@{/addUser}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>用户名：</label>
                    <input name="username" class="form-control" placeholder="请输入用户名">
                </div>
                <div class="form-group">
                    <label>密码：</label>
                    <input name="password1" class="form-control" type="password" placeholder="请输入密码">
                </div>
                <div class="form-group">
                    <label>密码：</label>
                    <input name="password2" class="form-control" type="password" placeholder="请确认密码">
                </div>
                <div class="form-group">
                    <label>角色：</label>
                    <select name="role">
                        <option th:value="ROLE_ordinary">普通用户</option>
                        <option th:value="ROLE_admin">管理员</option>
                        <option th:value="ROLE_tourist">游客</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">添加</button>
            </form>

            <script type="text/javascript" th:inline="javascript">
                // th:inline="javascript" 必须写
                onload = function () {
                    var msg = [[${addUserState}]]; //官方写法
                    if (msg != null) {
                        alert(msg)
                    }
                };
            </script>


        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/asserts/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="/asserts/js/popper.min.js"></script>
<script type="text/javascript" src="/asserts/js/bootstrap.min.js"></script>

<!-- Icons -->
<script type="text/javascript" src="/asserts/js/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script type="text/javascript" src="/asserts/js/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            datasets: [{
                data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>

</body>

</html>